Repository NikolaVetnic/Timelines, pull requests merged in 2025-06, with the labels that each got.

#164 Fix Slight discrepancy between Phase create request, create command and the Phase entity
  Backend/src/Modules/Timelines/Timelines.Api/Controllers/Phases/PhasesRequests.cs
  Backend/src/Modules/Timelines/Timelines.Application/Entities/Phases/Commands/CreatePhase/CreatePhaseCommand.cs
Labels: bug, backend

#168 Implement Breadcrumbs and Reminder Modal
  Backend/src/Modules/Nodes/Nodes.Infrastructure/Data/Extensions/InitialData.cs
  Backend/src/Modules/Nodes/Nodes.Infrastructure/Data/Repositories/NodesRepository.cs
  Backend/src/Modules/Timelines/Timelines.Api/Controllers/PhysicalPersons/PhysicalPersonsController.cs
  Backend/src/Modules/Timelines/Timelines.Api/Controllers/PhysicalPersons/PhysicalPersonsResponses.cs
  Backend/src/Modules/Timelines/Timelines.Application/Data/Abstractions/IPhysicalPersonsRepository.cs
  Backend/src/Modules/Timelines/Timelines.Application/Entities/PhysicalPersons/Queries/ListPhysicalPersons/ListPhysicalPersonsHandler.cs
  Backend/src/Modules/Timelines/Timelines.Application/Entities/PhysicalPersons/Queries/ListPhysicalPersons/ListPhysicalPersonsQuery.cs
  Backend/src/Modules/Timelines/Timelines.Infrastructure/Data/Repositories/PhysicalPersonsRepository.cs
  Frontend/react-app/.env
  Frontend/react-app/src/App.jsx
  Frontend/react-app/src/components/AppLayout/AppLayout.jsx
  Frontend/react-app/src/components/Breadcrumbs/Breadcrumbs.css
  Frontend/react-app/src/components/Breadcrumbs/Breadcrumbs.jsx
  Frontend/react-app/src/components/HeaderBar/HeaderBar.css
  Frontend/react-app/src/components/HeaderBar/HeaderBar.jsx
  Frontend/react-app/src/components/Nodes/Node/Node/Node.jsx
  Frontend/react-app/src/components/Nodes/Reminders/Reminder/Reminder.jsx
  Frontend/react-app/src/components/SearchBar/SearchBar.css
  Frontend/react-app/src/components/Timelines/PhysicalPerson/PhysicalPerson.css
  Frontend/react-app/src/components/Timelines/PhysicalPerson/PhysicalPerson.jsx
  Frontend/react-app/src/components/Timelines/PhysicalPersonDetails/PhysicalPersonDetails.css
  Frontend/react-app/src/components/Timelines/PhysicalPersonDetails/PhysicalPersonDetails.jsx
  Frontend/react-app/src/components/Timelines/Timeline/Timeline.jsx
  Frontend/react-app/src/core/components/buttons/Button/Button.css
  Frontend/react-app/src/core/components/buttons/Button/Button.jsx
  Frontend/react-app/src/core/components/forms/ColorPicker/ColorPicker.css
  Frontend/react-app/src/core/components/forms/ColorPicker/ColorPicker.jsx
  Frontend/react-app/src/core/components/forms/FormField/FormField.css
  Frontend/react-app/src/core/components/forms/FormField/FormField.jsx
  Frontend/react-app/src/core/components/modals/CreatePhysicalPerson/CreatePhysicalPersonModal.css
  Frontend/react-app/src/core/components/modals/CreatePhysicalPerson/CreatePhysicalPersonModal.jsx
  Frontend/react-app/src/core/components/modals/CreateReminderModal/CreateReminderModal.css
  Frontend/react-app/src/core/components/modals/CreateReminderModal/CreateReminderModal.jsx
  Frontend/react-app/src/core/components/modals/CreateTimelineModal/CreateTimelineModal.jsx
  Frontend/react-app/src/core/components/modals/DeleteModal/DeleteModal.jsx
  Frontend/react-app/src/core/components/modals/ReminderModal/ReminderModal.css
  Frontend/react-app/src/core/components/modals/ReminderModal/ReminderModal.jsx
  Frontend/react-app/src/core/utils/ReminderNotifier.jsx
  Frontend/react-app/src/data/constants.jsx
  Frontend/react-app/src/pages/HomePage.jsx
  Frontend/react-app/src/pages/PagesStyle/HomePage.css
  Frontend/react-app/src/services/FileService.jsx
  Frontend/react-app/src/services/NodeService.jsx
  Frontend/react-app/src/services/PhysicalPersonService.jsx
  Frontend/react-app/src/services/ReminderService.jsx
  Frontend/react-app/src/styles/App.css
  docker-compose/dev/docker-compose.override.yml
Labels: enhancement, frontend

#180 Move `Auth.Api` project into `Modules/Auth`
  Backend/src/Applications/Core/Core.Api/Core.Api.csproj
  Backend/src/Auth.Api/Auth.Api.csproj
  Backend/src/Modules/Auth/Auth.Api/Auth.Api.csproj
  Backend/src/Modules/Auth/Auth.Api/Controllers/AccountController.cs
  Backend/src/Modules/Auth/Auth.Api/Controllers/AuthController.cs
  Backend/src/Modules/Auth/Auth.Api/Extensions/ServiceCollectionExtensions.cs
  Backend/src/Timelines.sln
Labels: backend, refactor

#186 Fix Listing Revived Entities
  Backend/src/Modules/Files/Files.Application/Data/FilesService.cs
  Backend/src/Modules/Files/Files.Infrastructure/Data/Repositories/FilesRepository.cs
  Backend/src/Modules/Notes/Notes.Application/Data/NotesService.cs
  Backend/src/Modules/Reminders/Reminders.Application/Data/RemindersService.cs
  Backend/src/Modules/Reminders/Reminders.Infrastructure/Data/Repositories/RemindersRepository.cs
Labels: bug, backend
