Repository NikolaVetnic/Timelines, pull requests merged in 2025-01, with the labels that each got.

#39 Remove unnecessary lines of code from Service Collection Extensions
  Backend/src/BuildingBlocks/BuildingBlocks.Api/Converters/NodeIdConverter.cs
  Backend/src/BuildingBlocks/BuildingBlocks.Api/GlobalUsing.cs
  Backend/src/Modules/Nodes/Nodes.Api/Extensions/ServiceCollectionExtensions.cs
  Backend/src/Modules/Nodes/Nodes.Application/Extensions/ServiceCollectionExtensions.cs
  Backend/src/Modules/Nodes/Nodes.Domain/Events/NodeCreatedEvent.cs
  Backend/src/Modules/Nodes/Nodes.Domain/Events/NodeUpdatedEvent.cs
Labels: enhancement, backend

#40 Bring Back Validators to Nodes Module
  Backend/src/Modules/Nodes/Nodes.Application/Entities/Nodes/Commands/CreateNode/CreateNodeCommand.cs
  Backend/src/Modules/Nodes/Nodes.Application/Extensions/ServiceCollectionExtensions.cs
Labels: bug

#44 Introduce Integration Tests to the Solution
  Backend/src/Applications/Core/Core.Api/Core.Api.csproj
  Backend/src/Applications/Core/Core.Api/Program.cs
  Backend/src/BuildingBlocks/BuildingBlocks.Domain/ValueObjects/Ids/NodeId.cs
  Backend/src/Modules/Nodes/Nodes.Api/Endpoints/Nodes/CreateNode.cs
  Backend/src/Modules/Nodes/Nodes.Api/Extensions/ServiceCollectionExtensions.cs
  Backend/src/Modules/Nodes/Nodes.Application/Entities/Nodes/Dtos/NodeDto.cs
  Backend/src/Sdk/Core.Api.Sdk/Contracts/Nodes/Commands/CreateNodeRequest.cs
  Backend/src/Sdk/Core.Api.Sdk/Contracts/Nodes/Commands/CreateNodeResponse.cs
  Backend/src/Sdk/Core.Api.Sdk/Contracts/Nodes/Dtos/NodeDto.cs
  Backend/src/Sdk/Core.Api.Sdk/Contracts/Nodes/Queries/GetNodeByIdResponse.cs
  Backend/src/Sdk/Core.Api.Sdk/Contracts/Nodes/ValueObjects/NodeId.cs
  Backend/src/Sdk/Core.Api.Sdk/Core.Api.Sdk.csproj
  Backend/src/Sdk/Core.Api.Sdk/CoreApiClient.cs
  Backend/src/Sdk/Core.Api.Sdk/Interfaces/ICoreApiClient.cs
  Backend/src/Tests/Nodes/Nodes.Integration/Features/Nodes/POST.feature
  Backend/src/Tests/Nodes/Nodes.Integration/Features/Nodes/POST.feature.cs
  Backend/src/Tests/Nodes/Nodes.Integration/GlobalUsing.cs
  Backend/src/Tests/Nodes/Nodes.Integration/Nodes.Integration.csproj
  Backend/src/Tests/Nodes/Nodes.Integration/SpecFlowDependencies.cs
  Backend/src/Tests/Nodes/Nodes.Integration/StepDefinitions/NodesApiStepDefinitions.cs
  Backend/src/Timelines.sln
Labels: enhancement, backend

#49 Validate Ids sent as part of GetNodeById requests
  Backend/src/Modules/Nodes/Nodes.Application/Entities/Nodes/Queries/GetNodeById/GetNodeByIdHandler.cs
  Backend/src/Modules/Nodes/Nodes.Application/Entities/Nodes/Queries/GetNodeById/GetNodeByIdQuery.cs
  Backend/src/Modules/Nodes/Nodes.Application/Entities/Nodes/Queries/ListNodes/ListNodesQuery.cs
Labels: bug, backend

#42 Set `NoDefaultLaunchSettingsFile` to True for Files, Nodes, Notes, Reminders and Timelines `Api.csproj`
  .gitignore
  Backend/src/Modules/Files/Files.Api/Files.Api.csproj
  Backend/src/Modules/Nodes/Nodes.Api/Nodes.Api.csproj
  Backend/src/Modules/Notes/Notes.Api/Notes.Api.csproj
  Backend/src/Modules/Reminders/Reminders.Api/Reminders.Api.csproj
  Backend/src/Modules/Timelines/Timelines.Api/Timelines.Api.csproj
Labels: enhancement, backend

#41 Implement delete endpoint for `Files`, `Nodes`, `Notes`, `Reminders` and `Timelines` module
  Backend/src/Modules/Files/Files.Api/Endpoints/Files/DeleteFileAsset.cs
  Backend/src/Modules/Files/Files.Application/Entities/Files/Commands/DeleteFileAsset/DeleteFileAssetCommand.cs
  Backend/src/Modules/Files/Files.Application/Entities/Files/Commands/DeleteFileAsset/DeleteFileAssetHandler.cs
  Backend/src/Modules/Files/Files.Application/Entities/Files/Queries/GetFileAssetById/GetFileAssetByIdHandler.cs
  Backend/src/Modules/Files/Files.Application/Entities/Files/Queries/GetFileAssetById/GetFileAssetByIdQuery.cs
  Backend/src/Modules/Nodes/Nodes.Api/Endpoints/Nodes/DeleteNode.cs
  Backend/src/Modules/Nodes/Nodes.Application/Entities/Nodes/Commands/DeleteNode/DeleteNodeCommand.cs
  Backend/src/Modules/Nodes/Nodes.Application/Entities/Nodes/Commands/DeleteNode/DeleteNodeHandler.cs
  Backend/src/Modules/Nodes/Nodes.Application/Entities/Nodes/Queries/GetNodeById/GetNodeByIdHandler.cs
  Backend/src/Modules/Nodes/Nodes.Application/Entities/Nodes/Queries/GetNodeById/GetNodeByIdQuery.cs
  Backend/src/Modules/Notes/Notes.Api/Endpoints/Notes/DeleteNote.cs
  Backend/src/Modules/Notes/Notes.Application/Entities/Notes/Commands/DeleteNote/DeleteNoteCommand.cs
  Backend/src/Modules/Notes/Notes.Application/Entities/Notes/Commands/DeleteNote/DeleteNoteHandler.cs
  Backend/src/Modules/Notes/Notes.Application/Entities/Notes/Queries/GetNoteById/GetNoteByIdHandler.cs
  Backend/src/Modules/Notes/Notes.Application/Entities/Notes/Queries/GetNoteById/GetNoteByIdQuery.cs
  Backend/src/Modules/Reminders/Reminders.Api/Endpoints/Reminders/DeleteReminder.cs
  Backend/src/Modules/Reminders/Reminders.Application/Entities/Reminders/Commands/DeleteReminder/DeleteReminderCommand.cs
  Backend/src/Modules/Reminders/Reminders.Application/Entities/Reminders/Commands/DeleteReminder/DeleteReminderHandler.cs
  Backend/src/Modules/Reminders/Reminders.Application/Entities/Reminders/Queries/GetReminderById/GetReminderByIdHandler.cs
  Backend/src/Modules/Reminders/Reminders.Application/Entities/Reminders/Queries/GetReminderById/GetReminderByIdQuery.cs
  Backend/src/Modules/Timelines/Timelines.Api/Endpoints/Timelines/DeleteTimeline.cs
  Backend/src/Modules/Timelines/Timelines.Application/Entities/Timelines/Commands/DeleteTimeline/DeleteTimelineCommand.cs
  Backend/src/Modules/Timelines/Timelines.Application/Entities/Timelines/Commands/DeleteTimeline/DeleteTimelineHandler.cs
  Backend/src/Modules/Timelines/Timelines.Application/Entities/Timelines/Queries/GetTimelineById/GetTimelineByIdHandler.cs
  Backend/src/Modules/Timelines/Timelines.Application/Entities/Timelines/Queries/GetTimelineById/GetTimelineByIdQuery.cs
Labels: enhancement, backend

#65 BuildingBlocks: Move `Dtos`, `Events` and `ValueObjects` Under Newly Created `Reminder` Folder
  Backend/src/BuildingBlocks/BuildingBlocks.Api/Converters/ReminderIdConverter.cs
  Backend/src/BuildingBlocks/BuildingBlocks.Application/Data/INodesService.cs
  Backend/src/BuildingBlocks/BuildingBlocks.Application/Data/IRemindersService.cs
  Backend/src/BuildingBlocks/BuildingBlocks.Domain/Nodes/Node/Dtos/NodeDto.cs
  Backend/src/BuildingBlocks/BuildingBlocks.Domain/Reminders/Reminder/Dtos/ReminderBaseDto.cs
  Backend/src/BuildingBlocks/BuildingBlocks.Domain/Reminders/Reminder/Dtos/ReminderDto.cs
  Backend/src/BuildingBlocks/BuildingBlocks.Domain/Reminders/Reminder/Events/ReminderCreatedEvent.cs
  Backend/src/BuildingBlocks/BuildingBlocks.Domain/Reminders/Reminder/Events/ReminderUpdatedEvent.cs
  Backend/src/BuildingBlocks/BuildingBlocks.Domain/Reminders/Reminder/ValueObjects/ReminderId.cs
  Backend/src/Modules/Nodes/Nodes.Application/Data/NodesService.cs
  Backend/src/Modules/Nodes/Nodes.Domain/Models/Node.cs
  Backend/src/Modules/Reminders/Reminders.Api/Endpoints/Reminders/CreateReminder.cs
  Backend/src/Modules/Reminders/Reminders.Api/Endpoints/Reminders/GetReminderById.cs
  Backend/src/Modules/Reminders/Reminders.Api/Endpoints/Reminders/ListReminders.cs
  Backend/src/Modules/Reminders/Reminders.Application/Data/Abstractions/IRemindersRepository.cs
  Backend/src/Modules/Reminders/Reminders.Application/Data/RemindersService.cs
  Backend/src/Modules/Reminders/Reminders.Application/Entities/Reminders/Commands/CreateReminder/CreateReminderCommand.cs
  Backend/src/Modules/Reminders/Reminders.Application/Entities/Reminders/Commands/CreateReminder/CreateReminderHandler.cs
  Backend/src/Modules/Reminders/Reminders.Application/Entities/Reminders/Commands/DeleteReminder/DeleteReminderCommand.cs
  Backend/src/Modules/Reminders/Reminders.Application/Entities/Reminders/Extensions/ReminderExtensions.cs
  Backend/src/Modules/Reminders/Reminders.Application/Entities/Reminders/Queries/GetReminderById/GetReminderByIdQuery.cs
  Backend/src/Modules/Reminders/Reminders.Application/Entities/Reminders/Queries/ListReminders/ListRemindersHandler.cs
  Backend/src/Modules/Reminders/Reminders.Application/Entities/Reminders/Queries/ListReminders/ListRemindersQuery.cs
  Backend/src/Modules/Reminders/Reminders.Domain/Events/ReminderCreatedEvent.cs
  Backend/src/Modules/Reminders/Reminders.Domain/Events/ReminderUpdatedEvent.cs
  Backend/src/Modules/Reminders/Reminders.Domain/Models/Reminder.cs
  Backend/src/Modules/Reminders/Reminders.Infrastructure/Data/Configurations/ReminderConfiguration.cs
  Backend/src/Modules/Reminders/Reminders.Infrastructure/Data/Extensions/InitialData.cs
  Backend/src/Modules/Reminders/Reminders.Infrastructure/Data/Repositories/RemindersRepository.cs
Labels: backend, refactor

#66 BuildingBlocks: Extend `Dto` with `BaseDto`
  Backend/src/BuildingBlocks/BuildingBlocks.Domain/Nodes/Node/Dtos/NodeBaseDto.cs
  Backend/src/BuildingBlocks/BuildingBlocks.Domain/Nodes/Node/Dtos/NodeDto.cs
  Backend/src/BuildingBlocks/BuildingBlocks.Domain/Reminders/Reminder/Dtos/ReminderDto.cs
Labels: backend, refactor
