Repository NikolaVetnic/Timelines, pull requests merged in 2025-05, with the labels that each got.

#122 Setup `.mergify.yml` file to automatically update all PR's
  .github/.mergify.yml
Labels: enhancement, devops

#123 Fix `Mergify` condition
  .github/.mergify.yml
Labels: bug, backend

#120 List `Files`, `Notes` and `Reminders` by `NodeId`
  Backend/src/BuildingBlocks/BuildingBlocks.Application/Data/IFilesService.cs
  Backend/src/BuildingBlocks/BuildingBlocks.Application/Data/INotesService.cs
  Backend/src/BuildingBlocks/BuildingBlocks.Application/Data/IRemindersService.cs
  Backend/src/Modules/Files/Files.Application/Data/Abstractions/IFilesRepository.cs
  Backend/src/Modules/Files/Files.Application/Data/FilesService.cs
  Backend/src/Modules/Files/Files.Application/Entities/Files/Extensions/FileAssetExtensions.cs
  Backend/src/Modules/Files/Files.Infrastructure/Data/Repositories/FilesRepository.cs
  Backend/src/Modules/Nodes/Nodes.Api/Endpoints/Nodes/ListFileAssetsByNodeId.cs
  Backend/src/Modules/Nodes/Nodes.Api/Endpoints/Nodes/ListNotesByNodeId.cs
  Backend/src/Modules/Nodes/Nodes.Api/Endpoints/Nodes/ListRemindersByNodeId.cs
  Backend/src/Modules/Nodes/Nodes.Application/Entities/Nodes/Queries/ListFileAssetsByNodeId/ListFileAssetsByNodeIdHandler.cs
  Backend/src/Modules/Nodes/Nodes.Application/Entities/Nodes/Queries/ListFileAssetsByNodeId/ListFileAssetsByNodeIdQuery.cs
  Backend/src/Modules/Nodes/Nodes.Application/Entities/Nodes/Queries/ListNotesByNodeId/ListNotesByNodeIdHandler.cs
  Backend/src/Modules/Nodes/Nodes.Application/Entities/Nodes/Queries/ListNotesByNodeId/ListNotesByNodeIdQuery.cs
  Backend/src/Modules/Nodes/Nodes.Application/Entities/Nodes/Queries/ListRemindersByNodeId/ListRemindersByNodeIdHandler.cs
  Backend/src/Modules/Nodes/Nodes.Application/Entities/Nodes/Queries/ListRemindersByNodeId/ListRemindersByNodeIdQuery.cs
  Backend/src/Modules/Notes/Notes.Application/Data/Abstractions/INotesRepository.cs
  Backend/src/Modules/Notes/Notes.Application/Data/NotesService.cs
  Backend/src/Modules/Notes/Notes.Application/Entities/Notes/Extensions/NoteExtensions.cs
  Backend/src/Modules/Notes/Notes.Infrastructure/Data/Repositories/NotesRepository.cs
  Backend/src/Modules/Reminders/Reminders.Application/Data/Abstractions/IRemindersRepository.cs
  Backend/src/Modules/Reminders/Reminders.Application/Data/RemindersService.cs
  Backend/src/Modules/Reminders/Reminders.Application/Entities/Reminders/Extensions/ReminderExtensions.cs
  Backend/src/Modules/Reminders/Reminders.Infrastructure/Data/Repositories/RemindersRepository.cs
Labels: enhancement, backend

#124 ci(Mergify): configuration update
  .mergify.yml
Labels: enhancement

#121 List `Nodes` by `TimelineId`
  Backend/src/BuildingBlocks/BuildingBlocks.Application/Data/INodesService.cs
  Backend/src/Modules/Nodes/Nodes.Application/Data/Abstractions/INodesRepository.cs
  Backend/src/Modules/Nodes/Nodes.Application/Data/NodesService.cs
  Backend/src/Modules/Nodes/Nodes.Infrastructure/Data/Repositories/NodesRepository.cs
  Backend/src/Modules/Timelines/Timelines.Api/Endpoints/Timelines/ListNodesByTimelineId.cs
  Backend/src/Modules/Timelines/Timelines.Application/Entities/Timelines/Queries/ListNodesByTimelineId/ListNodesByTimelineIdHandler.cs
  Backend/src/Modules/Timelines/Timelines.Application/Entities/Timelines/Queries/ListNodesByTimelineId/ListNodesByTimelineIdQuery.cs
Labels: enhancement, backend

#126 Include CreatedAt and LastModifiedAt fields to `NoteBaseDto`
  Backend/src/BuildingBlocks/BuildingBlocks.Domain/Notes/Note/Dtos/NoteBaseDto.cs
  Backend/src/BuildingBlocks/BuildingBlocks.Domain/Notes/Note/Dtos/NoteDto.cs
  Backend/src/Modules/Nodes/Nodes.Application/Data/NodesService.cs
  Backend/src/Modules/Notes/Notes.Application/Entities/Notes/Extensions/NoteExtensions.cs
Labels: enhancement, backend

#127 Add update for all entities in the UI
  Frontend/react-app/src/App.jsx
  Frontend/react-app/src/components/Nodes/Files/File/File.css
  Frontend/react-app/src/components/Nodes/Files/File/File.jsx
  Frontend/react-app/src/components/Nodes/Node/Categories/Categories.jsx
  Frontend/react-app/src/components/Nodes/Node/Description/Description.jsx
  Frontend/react-app/src/components/Nodes/Node/EditableTitle/EditableTitle.jsx
  Frontend/react-app/src/components/Nodes/Node/Importance/Importance.jsx
  Frontend/react-app/src/components/Nodes/Node/Node/Node.jsx
  Frontend/react-app/src/components/Nodes/Node/Tags/Tags.jsx
  Frontend/react-app/src/components/Nodes/Node/Timestamp/Timestamp.jsx
  Frontend/react-app/src/components/Nodes/Notes/Note/Note.css
  Frontend/react-app/src/components/Nodes/Notes/Note/Note.jsx
  Frontend/react-app/src/components/Nodes/Reminders/Reminder/Reminder.jsx
  Frontend/react-app/src/core/api/put.jsx
  Frontend/react-app/src/core/components/forms/FormField/FormField.css
  Frontend/react-app/src/core/components/forms/FormField/FormField.jsx
  Frontend/react-app/src/core/components/lists/FileList/FileList.jsx
  Frontend/react-app/src/core/components/lists/NotesList/NotesList.jsx
  Frontend/react-app/src/core/components/lists/RemindersList/RemindersList.jsx
  Frontend/react-app/src/core/components/lists/TimelineList/TimelineList.css
  Frontend/react-app/src/core/components/lists/TimelineList/TimelineList.jsx
  Frontend/react-app/src/core/components/modals/CreateNoteModal/CreateNoteModal.jsx
  Frontend/react-app/src/core/components/modals/CreateReminderModal/CreateReminderModal.jsx
  Frontend/react-app/src/core/components/modals/DatePickerModal/DatePickerModal.jsx
  Frontend/react-app/src/core/components/modals/EditTimelineModal/EditTimelineModal.css
  Frontend/react-app/src/core/components/modals/EditTimelineModal/EditTimelineModal.jsx
  Frontend/react-app/src/core/components/modals/InputStringModal/InputStringModal.jsx
  Frontend/react-app/src/core/components/modals/NoteEditorModal/NoteEditorModal.css
  Frontend/react-app/src/core/components/modals/NoteEditorModal/NoteEditorModal.jsx
  Frontend/react-app/src/core/utils/ReminderNotifier.jsx
  Frontend/react-app/src/data/constants.jsx
  Frontend/react-app/src/services/FileService.jsx
  Frontend/react-app/src/services/NodeService.jsx
  Frontend/react-app/src/services/NoteService.jsx
  Frontend/react-app/src/services/ReminderService.jsx
  Frontend/react-app/src/services/TimelineService.jsx
Labels: enhancement, frontend

#138 Add CodeAnalysis.CSharp.Workspaces reference and update CodeAnalysis dependencies to 4.13.0
  Backend/src/Applications/Core/Core.Api/Core.Api.csproj
Labels: bug, backend

#137 Update virtualization with HTTPS
  .gitignore
  Backend/src/Applications/Core/Core.Api/Program.cs
  Frontend/react-app/src/data/constants.jsx
  docker-compose/.env.template
  docker-compose/dev/docker-compose.override.yml
  docker-compose/dev/nginx.conf
  docker-compose/docker-compose.yml
  docker-compose/gen-certs.sh
Labels: enhancement, backend, devops

#119 Build login flow with username/password auth
  Frontend/react-app/src/App.jsx
  Frontend/react-app/src/components/Nodes/Reminders/Reminder/Reminder.jsx
  Frontend/react-app/src/components/Pages/ErrorPage.jsx
  Frontend/react-app/src/components/Pages/LoginPage.jsx
  Frontend/react-app/src/components/Pages/PagesStyle/ErrorPage.css
  Frontend/react-app/src/components/Pages/PagesStyle/LoginPage.css
  Frontend/react-app/src/components/Pages/TimelinePage/TimelinePage.jsx
  Frontend/react-app/src/context/AuthContext.jsx
  Frontend/react-app/src/core/api/apiConfig.jsx
  Frontend/react-app/src/core/api/delete.jsx
  Frontend/react-app/src/core/api/get.jsx
  Frontend/react-app/src/core/api/getAll.jsx
  Frontend/react-app/src/core/api/getById.jsx
  Frontend/react-app/src/core/api/getWithoutPagination.jsx
  Frontend/react-app/src/core/api/post.jsx
  Frontend/react-app/src/core/api/put.jsx
  Frontend/react-app/src/core/auth/AuthGuard.jsx
  Frontend/react-app/src/core/components/buttons/Button/Button.css
  Frontend/react-app/src/core/components/lists/TimelineList/TimelineList.jsx
  Frontend/react-app/src/core/components/lists/TimelineList/TimelineListContent/TimelineListContent.jsx
  Frontend/react-app/src/services/FileService.jsx
  Frontend/react-app/src/services/NodeService.jsx
  Frontend/react-app/src/services/NoteService.jsx
  Frontend/react-app/src/services/ReminderService.jsx
  Frontend/react-app/src/services/TimelineService.jsx
  Frontend/react-app/src/styles/App.css
Labels: enhancement, frontend

#144 Prevent Breaking Updates When Referencing Wrong Entities
  Backend/src/Modules/Nodes/Nodes.Application/Entities/Nodes/Commands/UpdateNode/UpdateNodeHandler.cs
  Backend/src/Modules/Notes/Notes.Application/Entities/Notes/Commands/UpdateNote/UpdateNoteHandler.cs
Labels: enhancement, backend

#172 Ignore seconds when setting the NotifyAt value
  Backend/src/Modules/Reminders/Reminders.Application/Entities/Reminders/Commands/CreateReminder/CreateReminderHandler.cs
  Backend/src/Modules/Reminders/Reminders.Application/Entities/Reminders/Commands/UpdateReminder/UpdateReminderHandler.cs
  Backend/src/Modules/Reminders/Reminders.Application/Extensions/DateTimeExtensions.cs
  Backend/src/Modules/Reminders/Reminders.Infrastructure/Data/Extensions/InitialData.cs
Labels: enhancement, backend
